In [32]:
#Installing quandl
%pip install quandl

Requirement already satisfied: quandl in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (3.7.0)
Requirement already satisfied: pandas>=0.14 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from quandl) (2.0.3)
Requirement already satisfied: numpy>=1.8 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from quandl) (1.24.3)
Requirement already satisfied: requests>=2.7.0 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from quandl) (2.31.0)
Requirement already satisfied: inflection>=0.3.1 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from quandl) (0.5.1)
Requirement already satisfied: python-dateutil in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from quandl) (2.8.2)
Requirement already satisfied: six in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from quandl) (1.16.0)
Requirement already satisfied: more-itertools in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from quandl) (8.12.0)
Requirement already satisfied: pytz>=2020.1 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from pandas>=0.14->quandl) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from pandas>=0.14->quandl) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from requests>=2.7.0->quandl) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from requests>=2.7.0->quandl) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from requests>=2.7.0->quandl) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from requests>=2.7.0->quandl) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.

In [33]:
#Imorting required libraries
import quandl
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression

In [34]:
quandl.ApiConfig.api_key = "WcEmQ-jQzz-gVxzQuRvY"

In [35]:
# df = quandl.get("FRED/GDP")
# print(df.head())

In [36]:
%pip install yfinance

Requirement already satisfied: yfinance in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (0.2.49)
Requirement already satisfied: pandas>=1.3.0 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: platformdirs>=2.0.0 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from yfinance) (3.17.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/shubhamk/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2023.11.17)
Note: you may need to restart the kernel to use updated packages.

In [37]:
import yfinance as yf

In [38]:
df = yf.download("META", start="2012-01-01", end="2023-01-01")
print(df.head())

[*********************100%***********************]  1 of 1 completed

Price                      Adj Close      Close       High        Low  \
Ticker                          META       META       META       META
Date
2012-05-18 00:00:00+00:00  38.115238  38.230000  45.000000  38.000000
2012-05-21 00:00:00+00:00  33.927845  34.029999  36.660000  33.000000
2012-05-22 00:00:00+00:00  30.906942  31.000000  33.590000  30.940001
2012-05-23 00:00:00+00:00  31.903942  32.000000  32.500000  31.360001
2012-05-24 00:00:00+00:00  32.930851  33.029999  33.209999  31.770000

Price                           Open     Volume
Ticker                          META       META
Date
2012-05-18 00:00:00+00:00  42.049999  573576400
2012-05-21 00:00:00+00:00  36.529999  168192700
2012-05-22 00:00:00+00:00  32.610001  101786600
2012-05-23 00:00:00+00:00  31.370001   73600000
2012-05-24 00:00:00+00:00  32.950001   50237200

In [39]:
df.describe()

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,META,META,META,META,META,META
count,2673.000000,2673.000000,2673.000000,2673.000000,2673.000000,2.673000e+03
mean,147.547663,147.991912,149.839027,146.087654,147.961691,3.120245e+07
std,86.737971,86.999128,88.057578,85.914834,86.969082,2.720500e+07
min,17.676779,17.730000,18.270000,17.549999,18.080000,5.913100e+06
25%,77.596367,77.830002,78.529999,77.050003,77.800003,1.618930e+07
50%,141.852890,142.279999,144.559998,140.869995,142.259995,2.321740e+07
75%,190.715775,191.289993,194.029999,188.470001,191.360001,3.616910e+07
max,381.032745,382.179993,384.329987,378.809998,381.679993,5.735764e+08

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2673 entries, 2012-05-18 00:00:00+00:00 to 2022-12-30 00:00:00+00:00
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Adj Close, META)  2673 non-null   float64
 1   (Close, META)      2673 non-null   float64
 2   (High, META)       2673 non-null   float64
 3   (Low, META)        2673 non-null   float64
 4   (Open, META)       2673 non-null   float64
 5   (Volume, META)     2673 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 146.2 KB

In [41]:
df

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,META,META,META,META,META,META
Date,,,,,,
2012-05-18 00:00:00+00:00,38.115238,38.230000,45.000000,38.000000,42.049999,573576400
2012-05-21 00:00:00+00:00,33.927845,34.029999,36.660000,33.000000,36.529999,168192700
2012-05-22 00:00:00+00:00,30.906942,31.000000,33.590000,30.940001,32.610001,101786600
2012-05-23 00:00:00+00:00,31.903942,32.000000,32.500000,31.360001,31.370001,73600000
2012-05-24 00:00:00+00:00,32.930851,33.029999,33.209999,31.770000,32.950001,50237200
...,...,...,...,...,...,...
2022-12-23 00:00:00+00:00,117.685669,118.040001,118.180000,115.540001,116.029999,17796600
2022-12-27 00:00:00+00:00,116.529137,116.879997,118.599998,116.050003,117.930000,21392300
2022-12-28 00:00:00+00:00,115.272934,115.620003,118.150002,115.510002,116.250000,19612500
2022-12-29 00:00:00+00:00,119.899002,120.260002,121.029999,115.769997,116.400002,22366200
2022-12-30 00:00:00+00:00,119.978760,120.339996,120.419998,117.739998,118.160004,19583800

In [42]:
df_adj = df[['Adj Close']]
df_adj

Price                       Adj Close
Ticker                           META
Date
2012-05-18 00:00:00+00:00   38.115238
2012-05-21 00:00:00+00:00   33.927845
2012-05-22 00:00:00+00:00   30.906942
2012-05-23 00:00:00+00:00   31.903942
2012-05-24 00:00:00+00:00   32.930851
...                               ...
2022-12-23 00:00:00+00:00  117.685669
2022-12-27 00:00:00+00:00  116.529137
2022-12-28 00:00:00+00:00  115.272934
2022-12-29 00:00:00+00:00  119.899002
2022-12-30 00:00:00+00:00  119.978760

[2673 rows x 1 columns]

In [43]:
df.columns

MultiIndex([('Adj Close', 'META'),
            (    'Close', 'META'),
            (     'High', 'META'),
            (      'Low', 'META'),
            (     'Open', 'META'),
            (   'Volume', 'META')],
           names=['Price', 'Ticker'])

In [44]:
# df_adj_drop = df_adj.droplevel('Ticker', 1)
# df_adj_drop

In [45]:
# df_adj_drop.columns

In [46]:
#Variable for predicting 'n' number of days in future
forecast_days = 30
df_adj['Prediction'] = df_adj[['Adj Close']].shift(-forecast_days)
print(df_adj)

Price                       Adj Close Prediction
Ticker                           META
Date
2012-05-18 00:00:00+00:00   38.115238  30.677635
2012-05-21 00:00:00+00:00   33.927845  31.106342
2012-05-22 00:00:00+00:00   30.906942  31.375532
2012-05-23 00:00:00+00:00   31.903942  31.634750
2012-05-24 00:00:00+00:00   32.930851  32.073429
...                               ...        ...
2022-12-23 00:00:00+00:00  117.685669        NaN
2022-12-27 00:00:00+00:00  116.529137        NaN
2022-12-28 00:00:00+00:00  115.272934        NaN
2022-12-29 00:00:00+00:00  119.899002        NaN
2022-12-30 00:00:00+00:00  119.978760        NaN

[2673 rows x 2 columns]

/var/folders/rw/k5d2xn3s521ckl5hkyf9k60m0000gn/T/ipykernel_65292/271705914.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_adj['Prediction'] = df_adj[['Adj Close']].shift(-forecast_days)

In [47]:
df_adj.tail()

Price                       Adj Close Prediction
Ticker                           META
Date
2022-12-23 00:00:00+00:00  117.685669        NaN
2022-12-27 00:00:00+00:00  116.529137        NaN
2022-12-28 00:00:00+00:00  115.272934        NaN
2022-12-29 00:00:00+00:00  119.899002        NaN
2022-12-30 00:00:00+00:00  119.978760        NaN

In [48]:
 df_adj = df_adj.droplevel('Ticker', 1)

In [49]:
df_adj

Price                       Adj Close  Prediction
Date
2012-05-18 00:00:00+00:00   38.115238   30.677635
2012-05-21 00:00:00+00:00   33.927845   31.106342
2012-05-22 00:00:00+00:00   30.906942   31.375532
2012-05-23 00:00:00+00:00   31.903942   31.634750
2012-05-24 00:00:00+00:00   32.930851   32.073429
...                               ...         ...
2022-12-23 00:00:00+00:00  117.685669         NaN
2022-12-27 00:00:00+00:00  116.529137         NaN
2022-12-28 00:00:00+00:00  115.272934         NaN
2022-12-29 00:00:00+00:00  119.899002         NaN
2022-12-30 00:00:00+00:00  119.978760         NaN

[2673 rows x 2 columns]

In [51]:
# Reset the index and assign 'Date' as the column name
df_adj = df_adj.reset_index()

# Rename the new column that was the index
df_adj = df_adj.rename(columns={'index': 'Date'})

print("DataFrame after renaming the index to 'Date':")
print(df_adj.head())

DataFrame after renaming the index to 'Date':
Price                      Date  Adj Close  Prediction
0     2012-05-18 00:00:00+00:00  38.115238   30.677635
1     2012-05-21 00:00:00+00:00  33.927845   31.106342
2     2012-05-22 00:00:00+00:00  30.906942   31.375532
3     2012-05-23 00:00:00+00:00  31.903942   31.634750
4     2012-05-24 00:00:00+00:00  32.930851   32.073429